<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"
        android:minSdkVersion="34" />

    <application>
        <service
            android:name=".voice.data.StudySessionVoiceService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|microphone">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
    </application>
</manifest>
